.card{
    height: 200px
}

.cardHeader{
    background-color: #07B0F5;
    width: 100%;
    color:#ffffff;
    font-size: 24px;
    padding-right: 10px;
    padding-left: 10px;
}

.img{
    width: 50px;
    height: 50px;
}
#statusImg{
    width:25px;
    height:25px;
    float: right;
    padding-top: 5px;
}

.close{
    opacity: 1.0;
    color: #ffffff;
    padding-right: 15px;
}
button["deleteButton"]{
    background: #07B0F5;
}
.table1{
    width:600px;
    height:100px;
    margin-left: 5px;
}

.table2{
    width:600px;
    height:100px;
    /*margin-left: 600px;*/
}
.control{
    margin-left:600px;
    margin-bottom: 10px;
}
