<div>
<div class = "container" ng-controller = "AssessmentController">


<!-- first row start from here -->
<div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-2" id = "sidebar-wrapper" ng-show = "showRadioButton">
        <div class="radio">
          <label><input type="radio" id = "answered" name="optradio" ng-click = "buttonClicked(1)">Answered</label>
        </div>
        <div class="radio">
          <label><input type="radio" id = "unanswered" name="optradio" ng-click = "buttonClicked(2)">Unanswered</label>
        </div>
        <div class="radio">
          <label><input type="radio" id = "all" name="optradio" ng-click = "buttonClicked(3)" checked>All</label>
        </div>
    </div>

    <div class = "col-md-3" ng-show = "showStartButton">
        <h4>
            Click below to Start!
        </h4>
        <span class="glyphicon glyphicon-pencil"></span>&nbsp; &nbsp;
        <button type="button" class="btn btn-primary" ng-click="startAssessment()">
            Start
        </button>
    </div>

    
    <div class = "col-md-6" ng-show = "displayQuestion">
        <div>
        <h3>
        Total Questions : {{totalQuestions}}, Answered: {{totalAnswered}} , Unanswered : {{totalUnanswered}}
        </h3>
        </div>
        </br>
        </br>
        <div>
            <h3>
            <span class = "questionText" ng-model = "questionId"></span>
                {{questionId}}) 
            <span class = "questionText" ng-model = "question"></span>
                {{question.questionText}}
            </h3>
        </div>

        <div class = "funkyradio" ng-show = "showCheckboxOption" ng-repeat = "optionText in question.listOfChoices track by $index">
            <div class="funkyradio-default">
                <input type="checkbox" class = "optionCheckBox" name="checkbox" value="{{$index}}"/>
                <label for="$index">{{optionText}}</label>
            </div>
        </div>

        <div class = "funkyradio" ng-show = "showRadioOption" ng-repeat = "optionText in question.listOfChoices track by $index">
            <div class="funkyradio-default">
                <input type="radio" class = "optionRadio"  name="checkbox" value="{{$index}}"/>
                <label for="$index">{{optionText}}</label>
            </div>
        </div>

        <div class = "inputTextBox" ng-show = "showFillText">
            <label>Your response:
            <input type="text" name="input" ng-model="optionText"
                   required ng-trim="true">
        </div>

        <button type="button" ng-show = "showPrevButton" class="btn btn-primary pull-left"
         ng-click="loadPrevQues()" style="margin-top: 20px;">
            prev
        </button>
        <button type="button" ng-show = "showNextButton" class="btn btn-primary pull-right"
         ng-click="loadNextQues()" style="margin-top: 30px;">
            next
        </button>
    </div>

    <div class = "col-md-2 pull-right" ng-show = "showTimer">
        <HEADER>
            <h4>Time Remaining</h4>
        
            <span class = "glyphicon glyphicon-time"></span>
            {{hours}}h {{minutes}}m {{seconds}}s
        </HEADER>
    </div>
</div>

<div class = "row" ng-show = "displayQuestion">
    <div class = "col-md-4"></div>
    <div class = "col-md-2">
        <button type="button" class="btn btn-primary"
         ng-click="confirmAssessmentFinish()" style="margin-top: 20px;">
            Finish Assessment
        </button>
    </div>
    <div class = "col-md-4"></div>
</div>


</div>
</div>
