<div>
    <div class="container" ng-controller="StudentExamListController" ng-app="customer_module">




        <!-- first row start from here -->
        <div class="row" style="
    border-style: solid;
    background-color: darkgray;">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <HEADER>
                    <h3>
                        <span style="color: chocolate;">Hello {{globals.firstName}},</span>
                        <span>
                Welcome to OES!
            </span>
                    </h3>
                </HEADER>
            </div>
            <div class="col-md-2"></div>
        </div>


        <!-- second row start from here -->
        <div class="row" ng-init="init()" style="
    margin-top: 20px;">
            <div class="col-md-2" style="
        height: 300px;">

                <img src="image/user.png" class="img" style="
            margin-left: 33px;
            margin-top: 10px;">
                <ul>
                    <li style="margin-top: 15px;">
                        <b>UserId &nbsp; {{globals.userId}}</b>
                    </li>
                    <li style="margin-top: 10px;">
                        <b>{{globals.firstName}}</b>
                    </li>
                    <li style="margin-top: 10px;">
                        <b>{{globals.email}}</b>
                    </li>
                    <li style="margin-top: 10px;">
                        <a ng-click="showResult()">Result</a>
                    </li>
                    <li style="margin-top: 10px;">
                        <a ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-10"  style="
        border-style: outset;">
        <div ng-repeat="exam in exams">

                <studentcard-view exam-name="exam.examName" exam-detail="exam.examDetail" start-date="exam.startDate" end-date="exam.endDate"
                    duration="exam.duration" status="exam.status" taken="exam.taken" show-exam-link="showExamLink(exam.endDate,exam.startDate)"
                    set-exam-id="setExamId(exam.id)">
                </studentcard-view>

        </div>
            </div>
        </div>


        <!-- third row starts from here -->
        <div class="row" ng-show="result" style="border-style: outset;
    margin-top: 10px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table1">
                    <thead>
                        <tr>
                            <th ng-click="sort('examName')">Exam Name
                                <span class="glyphicon sort-icon" ng-show="sortKey=='examName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th ng-click="sort('startDate')">Date Of Exam
                                <span class="glyphicon sort-icon" ng-show="sortKey=='startDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                            <th> Result </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="exam in takenExams|itemsPerPage:2|orderBy:sortKey:reverse">
                            <td>{{exam.examName}}</td>
                            <td>{{exam.startDate*1000 | date:'yyyy-MM-dd'}}</td>
                            <td><a ng-click="calculateResult(exam)">View Result </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="control col-md-2">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>


    </div>
</div>